#map {
    height: 700px;
    width: 100%;

}
.padding-top{
    padding: 50px 0 0 0;
}

.route-step-instruction{
    padding: 5px 5px 5px 5px;
    float: left;
    width: 90%;
}
.route-step-distance{
    border-bottom: 3px solid red;
    background-color: lightgrey;
    padding: 5px 5px 5px 5px;
    float: right;
    width: 10%;
}
.formLocation{
    display: table;
    margin: 0 auto;
    padding: 1.5rem;
}